.block-container {
    border: 1.5px solid black;
    border-radius: 25px;
    box-shadow: grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 2px;
}

.block-container p{
    text-align: center;
    text-justify: inter-word;
    align-items: center;
    width: 100%;    
}
.block-container h2{
    text-align: center;
    text-justify: inter-word;
    align-items: center;
    width: 100%;    
}

