@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      display: flex;
      justify-content: flex-end;
    }
  
    .Login form {
      flex: 1;
      margin: 0;
      max-width: 320px;
    }

    .Login input {
      border-radius: 5px;
    }
}
@media all and (max-width: 480px) {
    .Login input {
      border-bottom-color: black;
    }
}

.Login ul {
  list-style-type: none;
  align-content: flex-end;
  padding: 10px;
  margin: 5px;
}

.Login input {
  height: 25px;
  font-size: 14px;
  width: 100%;
}

.Login button {
    width: auto;
    margin: 5px;
    padding: 5px;
    background-color: #03A9F4;
    color: white;
    font-size: 14px;
}