.login-container {
    margin: 0;
    padding: 0;
    background-color: #DEFF4F;
    border: 0;
}
.login-container-row{
    /* position: absolute; */
    top: 20%;
    padding: 20px;
}
.login-container div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container button,
.login-container button:focus,
.login-container button:active,
.login-container button:hover,
.login-container a,
.login-container a:focus{
    display: block;
    text-decoration: none;
    background-color: transparent;
    width: 100%; 
    height: 100%;
    border-radius: 20px;
    outline: transparent;
    color: inherit;
    transition: color 0.1s Sine 0s;    
}

.login-container a {
    margin: 10px 0;
}

.login-input input,span{
    border-bottom: 1px solid rgba(15, 147, 254, 1);
    color: rgba(15, 147, 254, 1);
    outline: none;
    border-radius: 0;
}

.input-group-addon {
    background: transparent;
    border-bottom: 1px solid rgba(15, 147, 254, 1);    
}
.login-input input:focus {
    outline:none;
}   