.appointmentContainer {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    background-color: aliceblue
}

@media all and (min-width: 480px) {
    .appointmentContainer {
        width: 480px;
    }

    .appointmentContainer form {
      flex: 1;
      margin: 0;
      max-width: 320px;
    }

    .Login input {
      border-radius: 5px;
    }
}
@media all and (max-width: 480px) {
    .appointmentContainer {
        width: 380px;
    }
    
    .appointmentContainer input {
      border-bottom-color: black;
    }
    .appointmentContainer select {
      border-bottom-color: black;
    }
}

.appointmentContainer ul {
    list-style-type: none;
    align-content: flex-end;
    padding: 10px;
    margin: 5px;
  }
  
  .appointmentContainer input {
    height: 25px;
    font-size: 14px;
    width: 100%;
  }