
.headerTel {
    background: #DEFF4F;
    font: normal normal normal 17px/1.4em lulo-clean-w01-one-bold,sans-serif;
    margin: 0;
}
/* .navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.headerTel span {
    color: rgba(15, 147, 254, 1);
}
.companyLabel {
    background-color: rgba(15, 147, 254, 1);
}

.companyLabel span {
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    font: normal normal normal 17px/1.4em lulo-clean-w01-one-bold,sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    white-space: nowrap;
    font-weight: bolder;
    border-radius: 0 px;
}
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav > .active > a:focus
{
    color: #DEFF4F;
    background-color: transparent;    
    transition: color 0.4s ease 0s;
}

.navbar-brand {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-brand>img {
    width: 42px; 
    height: 48px; 
    object-fit: fill;
    margin-right: 5px; 
}

.navbar {
    margin: 0;
    border: 0;
    border-radius: 0px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #DEFF4F;
}